---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 16px/1.4 $helvetica;
  color: $black;
}
.page{
  padding: 0 15px;
}
.header{
  position: relative;
  margin: 0 0 10px;
  border-bottom: 1px solid;

  input{
    display: none;

    &:checked ~ .menu{
      height: 100vh;
      background: #fff;
    }
  }
}
.logo{

}
.menu-toggle{
  display: block;
  float: right;
  width: 20px; height: 9px;
  margin: 7px 0 0;
  border-bottom: 2px solid;
  border-top: 2px solid;
  cursor: pointer;
}
.menu{
  position: absolute;
  height: 1px;
  border-bottom: 1px solid;
  width: 100%;
  bottom: -2px;
  overflow: hidden;
}


// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {

}
::selection {

}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@import "highlights";
@import "svg-icons";
