<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" /> -->
  </head>

  <body>
    <div class="page">
      <header class="header">
        <a class="logo">fdkitamory</a>
        
        <label class="menu-toggle" for="menu-toggle"></label>
        <input id="menu-toggle" type="checkbox">
        
        <nav class="menu">
          <a href="/cv/">CV</a>
        </nav>
      </header>

      <div role="main" class="content">{{ content }}</div>

      <footer class="footer">
        <div class="copyright">2017</div>
        <!-- {% include svg-icons.html %} -->
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>